h1.entry-title, h1.page-title{
    text-align: center;
}

h2.entry-title.default-max-width a, p.site-title a{
    text-decoration: none;
}

h2.entry-title.default-max-width a, h2.wp-block-heading{
    color: #f5cb42;
}

p.site-title a:hover{
    color: #aa8e30;
}

h3.wp-block-heading{
    text-decoration: underline;
}

.wp-block-group__inner-container{
    background-color: black;
}

a.wp-block-button__link{
    background: white;
}

a.wp-block-button__link:hover{
    background-color: grey;
}

.footer-query-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
}

.footer-query{
    padding: 20px;
}

.thumbnail-container{
    width: 90%;
    margin: 0 auto 10px auto;
}

.footer-title{
    color: #f5cb42;
    text-align: center;
}

.footer-query p{
    margin-bottom: 15px;
}

a.more-link{
    color: #f5cb42;
    text-decoration: none;
    font-size: 0.9rem;
}

a.link{
    border: 1px solid white;
    padding: 10px;
    text-decoration: none;
    background-color: #f5cb42;
    color: black;
}

a.link:hover{
    background-color: none;
}